<div class="row">
    <mat-card class="col-offset-3 col-6">
        <mat-card-title class="text-center">Summary</mat-card-title>
        <mat-card-content>
            <p>My name is Mike Mulchrone. This website was created to give myself an outlet and personal web presense on
                the internet. I have been a professional software developer for about 7 years.
                I mostly specialize in .NET C# Web Development utilizing Angular and Microsoft SQL Server.
                I use this site to experiment in Angular, Deno and PostgreSQL.
            </p>
        </mat-card-content>
    </mat-card>
</div>

<div class="row">
    <mat-card class="col-offset-3 col-6">
        <mat-card-title class="text-center">Social Media</mat-card-title>
    </mat-card>
</div>