<mat-toolbar class="header">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @for (link of headerMenuLinks; track link) {
            <button mat-menu-item (click)="mainMenuNavigation(link.link)">
              <mat-icon>{{link.iconName}}</mat-icon>
              <span>{{link.name}}</span>
            </button>
        }
      </mat-menu>
    <span #nameTypeWritter id="name-typewriter"></span>    
</mat-toolbar>