<div class="flex-row">
    <div class="col-offset-4 col-4">
        <mat-card appearance="outlined" class="border-round-sm">
            <mat-card-title class="text-center">Technology Used</mat-card-title>
            <mat-card-content>
                <div class="grid">
                    @for (tech of techUsedLinks; track tech) {
                        <div class="col-4">
                            <a [href]="tech.href" target="_blank">
                                <img class="tech-used-image" [src]="tech.src" />
                            </a>
                        </div>
                    }
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>