<div class="row">
    <div class="col-offset-4 col-4">
        <mat-card>
            <mat-card-title class="text-center">Technology Used</mat-card-title>
            <mat-card-content>
                <a href="https://angular.dev/" target="_blank">
                    <img class="tech-used-image" src="/assets/images/Angular_full_color_logo.svg" />
                </a>
                <a href="https://deno.land" target="_blank">
                    <img class="tech-used-image ml-8" src="/assets/images/deno.svg" />
                </a>
            </mat-card-content>
        </mat-card>
    </div>
</div>